config/fog_credentials.yml
pkg
.yardoc
_yardoc
tmp
.config
# YARD artifacts
spec/reports
*.gem
InstalledFiles
*.rbc
rdoc
lib/bundler/man
.bundle
coverage
/public/uploads
/tmp
/db/*.sqlite3
test/version_tmp
/log/*.log
test/tmp
doc/