tmp
spec/reports
/db/*.sqlite3
/tmp
/public/uploads
*.gem
InstalledFiles
*.rbc
.config
rdoc
test/version_tmp
lib/bundler/man
.bundle
/log/*.log
pkg
coverage
.yardoc
# YARD artifacts
test/tmp
_yardoc
doc/