// Place all the styles related to the achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.achievement_box {
  position: relative;
  border: 1px solid gray;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  width: 250px;
  margin: 5px;
  p {
    text-align: center;
  }
  p.label {
    transform:rotate(37deg);
    -webkit-transform:rotate(39deg);
    position: absolute;
    top: 10px;
    left: 170px;
    width: 100px;
  }
}