// Place all the styles related to the achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.achievement_box {
  position: relative;
  border: 1px solid gray;
  // display: block;
  float: left;
  padding: 10px;
  overflow: hidden;
  width: 250px;
  height: 150px;
  margin: 5px;
  p {
    text-align: center;
  }
  p.label {
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    position: relative;
    bottom: 90px;
    // top: -90px;
    // right: -40px;
    left: 40px;
    width: 100px;
  }
}