<h1>Achievements#index</h1>
<p>Find me in app/views/achievements/index.html.erb</p>


<div class="row">
  <div class="small-12 large-12 columns">
    <% @achievements.each do |achievement| %>
    <div class="achievement_box small-3 large-3 colums">
      <p><%= achievement.title %></p>
      <p><%= achievement.description %></p>
      <p class="label right"><%= achievement.points %></p>
      <%= link_to "Complete Achievement", achievements_path, :class => "button" %>
    </div>
    <% end %>
  </div>
</div>