<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/profile">Quilible</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
        <% if current_user %>
          <li class="divider hide-for-small"></li>
          <li><%= link_to current_user.user_name, profile_path %></a></li>
          <li class="divider hide-for-small"></li>
        <% end %>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li><%= render 'devise/menu/registration_items' %></li>
      <li class="divider hide-for-small"></li>
      <li><%= render 'devise/menu/login_items' %>
      </li>
    </ul>
  </section>
</nav>